<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href={{url_for('static', filename='css/create.css')}}>
  <title>Document</title>
</head>
<body>
  {% extends 'base.html' %}

    {% block content %}
      <h1>Criar Nova Tarefa</h1>
      <form method="POST" action="{{ url_for('create_task') }}">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="description">Descrição</label>
        <textarea name="description" id="description" required></textarea>
        <br>
        <label for="status">Status</label>
        <select name="status" id="status" required>
          <option value="TODO">A Fazer</option>
          <option value="DOING">Fazendo</option>
          <option value="DONE">Feito</option>
        </select>
        <br>
        <button type="submit">Salvar</button>
      </form>
    {% endblock %}
</body>
</html>